@page
@model BankStartWeb.Pages.Customerpages.CustomerModel
@{
}

<div class="content-wrap">
    <div class="main">
      <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card">
                        <div class="card-title">
                            <h3>Kundinformation </h3>
                        </div>
                           <div class="user-profile-name">@Model.Givenname @Model.Surname</div>
                        <div class="user-Location">
                          <i class="ti-location-pin"></i> @Model.City, @Model.Country</div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="1">
                                <div class="contact-information">
                                    <h4>kundinformation</h4>
                                     <div class="address-content">
                                        <span class="contact-title">Kundnummer:</span>
                                        <span class="mail-address">@Model.Id</span>
                                    </div>
                                    <div class="address-content">
                                        <span class="contact-title">Personnummer:</span>
                                        <span class="mail-address">@Model.NationalId</span>
                                    </div>
                                    <div class="phone-content">
                                        <span class="contact-title">Telefonnummer:</span>
                                        <span class="phone-number">+@Model.TelephoneCountryCode @Model.Telephone</span>
                                    </div>
                                    <div class="address-content">
                                        <span class="contact-title">Stad:</span>
                                        <span class="mail-address">@Model.City</span>
                                    </div>
                                    <div class="address-content">
                                        <span class="contact-title">Postadress:</span>
                                        <span class="mail-address">@Model.Zipcode</span>
                                    </div>
                                    <div class="address-content">
                                        <span class="contact-title">Gatuadress:</span>
                                        <span class="mail-address">@Model.Streetaddress</span>
                                    </div>
                                    <div class="address-content">
                                        <span class="contact-title">Land / Landskod:</span>
                                        <span class="mail-address">@Model.Country / @Model.CountryCode</span>
                                    </div>

                                    <div class="email-content">
                                        <span class="contact-title">Epost:</span>
                                        <span class="contact-email">@Model.EmailAddress</span>
                                    </div>
                                    <div class="birthday-content">
                                        <span class="contact-title">Födelsesdag:</span>
                                        <span class="birth-date">@Model.Birthday.Date.ToString("yyyy-MM-dd") </span>
                                    </div>
                                    <div class="gender-content">
                                        <span class="contact-title">Gender:</span>
                                        <span class="gender">Male</span>
                                    </div>
                                 </div>
                                
                            </div>
                        </div> <!--Slutt kundinfo-->
                       
                        <!-- /# card -->
                    </div>
                </div>
            </div>
            <!-- /# column -->
          <div class="col-lg-6">
                
              <div class="card">
                  <div class="card-title">
                      <h4>Kontoöversikt </h4>

                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover ">
                              <thead>
                              <tr>
                                  <th>AccountType</th>
                                  <th>AccountId</th>
                                  <th>Created</th>
                                  <th>Balance</th>
                                </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  @foreach(var account in Model.Accounts)
                                  {
                                      <tr>
                                          <td>@account.AccountType</td>
                                          <td>@account.Id</td>
                                          <td>@account.Created</td>
                                          <td>@account.Balance</td>
                                          <td><a class="ctabutton" asp-page="/CustomerPages/Transactiondetals" asp-route-accountId="@account.Id">View</a> </td>
                                      </tr>
                                  }
                                 
                              </tr>
                              <tr><td>Total summa</td>
                                  <td></td>
                                  <td></td>
                                  <td>@Model.TotalBalance</td>
                                  <td></td>

                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <!-- /# column -->
                  <div class="button-list"> 
                      <a type="button" class="btn btn-primary btn-lg m-b-10" asp-page="/Customerpages/Deposit" asp-route-customerId="@Model.Id">Insättning</a>
                      <a type="button" class="btn btn-primary btn-lg m-b-10" asp-page="/Customerpages/Withdrawal" asp-route-customerId="@Model.Id">Uttag</a>
                      <a type="button" class="btn btn-primary btn-lg m-b-10" asp-page="/Customerpages/Transfer" asp-route-customerId="@Model.Id">Överförning</a>
                      <a type="button" class="btn btn-info btn-lg m-b-10" asp-page="/Customerpages/AddAccount" asp-route-customerId="@Model.Id">Lägg till konto</a>
                      <a type="button" class="btn btn-info btn-lg m-b-10" asp-page="/Customerpages/EditCustomer" asp-route-customerId="@Model.Id">Redigera kund</a>
                  </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="footer">
                <p>2018 © Admin Board. -
                  <a href="#">example.com</a>
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
