@page
@model BankStartWeb.Pages.Customerpages.TransactiondetalsModel
@{
}
Customer; @Model.FullName
AccountId: @Model.AccountId

            <form method="post">
            <input asp-for=@Model.DepositAmount >Enter deposit</input>
            <input type="submit" value="Sätt in"></input>
            </form>
@*            <form method="post">
            <input asp-for=@Model.WithdrawelAmount >Belopp att ta ut</input>
            <input type="submit" value="Ta ut"></input>
            </form>*@

New Balance = @Model.NewBalance


<table>
    <tr>
        <th>Transaction date</th>
        <th>Handling</th>
        <th>Debet/kredit</th>
        <th>Belopp</th>
    </tr>
       @foreach(var transaction in Model.Transactions)
       {
        <tr>
           <td>@transaction.Date</td>
           <td>@transaction.Operation</td>
           <td>@transaction.Type</td>
           <td>@transaction.Amount</td>
       </tr>
       }
       AccountBalance : @Model.Balance
</table>